@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --first-color:#033b3a;
    --second-color:#20c997;
    --gray:#4a4a4d;
    --bg:#e4f0f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Condensed", sans-serif;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    height: 100vh;
    background: var(--bg);
}
.navbar{
    background: #fff;
  position: fixed;
    width: 100%;
    padding: 1.5rem 2rem;
}
.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    
    margin: auto;
    
}
#logo{
font-size: 24px;
color: var(--first-color);
font-weight: 600;
}

.navbar nav .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar nav .nav-links li a{
 margin: 0 20px;
 color: var(--first-color);
 font-weight: 600;
}
.navbar nav .nav-links li a:hover{
   border-bottom: 2px solid var(--second-color);
   }

   .header-content{
    height: 100vh;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    
    margin: auto;
   }
   .header-content .text-content{
    margin-bottom: 6rem;
   }
   .header-content img{
    width: 260px;
   }
   .text-content span{
    color: var(--second-color)
   }
   .text-content h1{
    font-size: 60px;
    margin: 15px 0;
    color: var(--first-color);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
   }
   .text-content p span{
    margin: 20px 0;
    font-weight: 700;
    font-size: 20px;
    
   }
  .text-content .Frontend{
margin: 15px 0 10px;
font-weight: 700;
   }
   
 .text-content .social {
    
    margin: 1rem 0 2rem;

   
   
   }
   .text-content .social a i{
    font-size: 18px;
    padding: 10px;
    background-color: var(--gray);
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
   }
   .text-content .social a i:hover{
    transform: scale(0.80);
   }
   .btn-primary{
    background-color: var(--second-color);
    padding: 5px 12px;
    color: #fff;
    font-size: 15px;
    border-radius: 7%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
   }
   .btn-primary:hover{
 background-color: #15a076;
   }
   .btn-primary i{
    margin-left: 3px;
   }
   #about{
   
    padding: 6rem 0;
   }

   .container{
    max-width: 1110px;
 
    margin: auto;
   }
   .title{
    text-align: center;
   letter-spacing: 2px;
    color: var(--first-color);
    
   }
 hr{
    width: 70px;
    height: 3px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 80px;
    background-color: var(--second-color);
    border: none
   

    
   }
   .about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .about-content .col1{
    width: 50%;
   }
   .about-content .col1 h3{
    font-size: 25px;
    color: var(--first-color);
    margin-bottom: 10px;
   }
   .about-content .col1 h3 .name{
    color: var(--second-color);
   }
   #hr-col2{
    width: 100%;
    margin: 10px 0;
    background-color: rgb(216, 216, 216);
   }

#skills{
    height: 70vh;
    background-color: var(--first-color);
}
#skills h1{
    padding: 5rem 0 0;
    color: #fff;
}
#skills h1 span{
    color: var(--second-color);
}
.rows{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: center;
}
#skills .skills-content {
   
    margin-top: 2rem;
    background-color: #0f272d;
}
.items p{
    color: #fff;
    font-weight: 600;
}

.items i{
    font-size: 70px;
    padding: 15px;
    color: #fff;

}
#skills .skills-content .rows .items{
    background-color: #000;
    margin: 20px;
}

#certifcates{
    padding: 6rem 0;
}

.row{
   
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.col-1 , .col-2 ,.col-3{
    height: 50vh;
    width: 20%;
    background-color: #f6f6fc; 
    border: 1px solid #bababb;
  
}

.col-1 p , h3{
    margin: 10px 0;
    padding-left: 5px ;
}
.col-2 p , h3{
    margin: 10px 0;
    padding-left: 5px ;
}
.col-3 p , h3{
    margin: 10px 0 15px;
    padding-left: 5px;
}




.row .col-1 img{
    width: 100%;
}
.row .col-2 img{
    width: 100%;
}
.row .col-3 img{
    width: 100%;
}
#portfolio{
    background-color: var(--first-color);
    padding: 6rem 0;
}
#portfolio  h1{
    color: #fff;
}
.portfolio-content{
    width: 22%;
   height: 200px;
    background-color: #fff;
}
.portfolio-content img{
    
    width: 100%;
}

.portfolio-text a{
    font-size: 14px;
    font-weight: 700;
    color: var(--second-color);
    padding-left: 5px;
}
#contact{
    padding: 6rem 0;
}

#contact h1{
    padding: 3rem 0;
}
#contact span{
    color: var(--second-color);
}
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-weight: 700;
}

.contact-content{
    height: 55vh;
    background-color: #fff;
    box-shadow: 3px 3px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.contact-content .forms input ,textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 7px 5px;
    border-radius: 2px;
   border: 1px solid #bbb;
   outline: none;
   
}

/*tablet responsive*/

@media(max-width:768px){
   
    
    .navbar nav{
        display: block;
        text-align: center;
        
        
       
        
    }
    .navbar nav .nav-links{
        margin-top: 10px;
        
    }
    .navbar nav .nav-links li a{
        margin: 0 7px;
        
    }
    .header-content{
        grid-template-columns: 1fr;
       
      
        
    }
   .header-content .text-content{
    margin-bottom: 0rem;
  margin-top: 7rem;

  padding: 0 15px;
  
  
   
   }
   .header-content .text-content h1{
    font-size: 50px;
   }
   .header-content img{
    max-width: 270px;
 margin: auto;
   

   }

   .about-content{
    display: block;
    padding: 0 15px;
    
   }
  .col1{
    display:inline;
    
    
   
   
  }
  
  .col2{
    margin-top: 60px;
  }
   
    .col-1 , .col-2 ,.col-3{
        height: 25vh;
    }
    .portfolio-content{
        margin: auto;
    }
    .skills-content .rows{
        display: block;
        width: 50%;
        margin: auto;
    }
    .contact-content{
        width: 100%;
        display: block;
    }
    .contact-content img{
        max-width: 250px;
        
       margin: 0 30%;
    }
}

/*phone responsive*/

@media(max-width:528px){
    .navbar {
        width: 420px;
   
    
    }

    .header-content .text-content h1{
        font-size: 40px;
    }
    .header-content .text-content span{
        font-size: 16px;
    }
     .text-content .Frontend{
        font-size: 16px;
    }
    .title{
        font-size: 20px;
    }
    .about-content .col1{
        font-size: 14px;
    }
    .about-content .col1 h3{
        font-size: 20px;
    }
    .col2{
        font-size: 15px;
    }
    .certifcate-content .row{
       display: flex;
       align-items: center;
       justify-content: space-around;
       flex-wrap: wrap;
    }
    .col-1 , .col-2 ,.col-3{
        height: 30vh;
    }
    .col-1 , .col-2 ,.col-3 , img{
      width: 150px;
    }
    .col-1 , .col-2 ,.col-3, h3, p{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .col-1 ,.col-2 {
        margin-bottom: 40px;
    }
    .col-1 , .col-2 ,.col-3 {
        text-align: center;

    }

    .portfolio-content img{
        height: 70px;

    }
    .portfolio-content{
        height: 20vh;
        width: 120px;
       margin: 0 15px;
        
    }
     .portfolio-text h3 {
        font-size: 16px;
    }
    .portfolio-text a{
        font-size: 12px;

    }
  
}


